@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

 html {
    --default-brown: #5e1f13;
    --default-white: #ffefdc;
    --background-yellow: #fac450;
    --button-red: #ff0000;
    background-image: url(/images/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
} 

.page-header {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 130px 0 50px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--default-brown);
}

.page-title {
    font-size: 3rem;
    color: var(--default-white);
}

.branch-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.branch-section {
    padding: 20px;
    background-color: var(--default-white);
    border-radius: 25px;
    width: 80%;
    height: auto;
}

.branch-img {
    border-radius: 25px;
    width: 80%;
    height: auto;
}

.branch-name {
    color: var(--default-brown);
}
.branch-none{
    display: none;
}
.branch-desc {
    color: var(--default-brown);
    font-weight: 500;
    opacity: 0.8;
}

@media (max-width: 800px) {
    .page-header {
        height: 75px;
    }
    .page-title{
        font-size: 1.75rem;
    }
    .branch-container {
        flex-direction: column;
    }
}
