@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


.page-header {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 130px 0 50px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--default-brown);
}

.page-title {
    font-size: 3rem;
    color: var(--default-white);
}

h2 {
    margin: 0 auto;
}

p {
    margin: 0;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.contacts-section {
    background-color: var(--default-brown);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.contacts-inner-section {
    background-color: var(--default-brown);
}

.contacts-middle-social {
    padding: 8px;
    margin: 10px;
    background-color: var(--default-brown);
    border-radius: 25px;
}

.contacts-img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.calllogo-img {
    margin-right: 25px;
}

.contacts-name {
    color: var(--default-white);
}

.contacts-desc {
    display: flex;
    color: var(--default-white);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.contacts-desc-social {
    color: var(--default-white);
    font-size: 12px;
    text-decoration: none !important;
}

@media (max-width: 800px) {
    .page-title {
        font-size: 1.75em;
    }
    .contacts-container {
        display:flex;
        justify-content: center;
    }
    h2 {
        font-size: 1.25em;
    }
    .contacts-desc {
        font-size: 1.25em;
    }
    .contacts-desc-social {
        font-size: 0.5em;
    }
    .target-logo {
        width:  30%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        
    
      }
     .contacts-middle-social {
        margin: 5px;
        background-color: var(--default-brown);
        border-radius: 25px;
        width: 80%;
      }
      .contacts-section{
        width: 80%;
        
      }
      .contacts-img{
        width: 100%;
        height: auto;
      }
    }
