@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
    --default-white: #ffefdc;
    --default-brown: #5e1f13;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: var(--default-white);
    border-radius: 25px;
    z-index: 10000;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--default-brown);
}

.modal-body {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    gap: 15px;
    color: var(--default-brown);
}

.modal-body img {
    max-width: 100%;
}

h2, h4, p {
    margin: 0;
    padding: 0;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.product-description {
    display: block;
    text-align: center;
}


